body {
    margin-left: 15%;
    margin-right: 15%;
}

@media only screen and (max-width: 800px) {
	body {
	    margin-left: 5%;
	    margin-right: 5%;
	}	
}

.warning {
    border: 3px solid red;
	font-weight: bold;
}

.inlinemediaobject > img {
    max-width: 100%;
}

h2 {
	font-size: larger;
}

body > h2 {
	font-size: larger;
    text-align: center;
}

h4 {
    font-size: larger;
}

h5 {
    font-size: larger;
}

.navheader a {
    font-size: x-large;
}

.navfooter a {
    font-size: x-large;
}

#license-footer {
    text-align: center;
}
